
/* Photos styling */

#photos-title {
    font-weight: 800;
}

.photos-smiley-icon {
    width: 5rem;
    height: 5rem;
}

.photo-item {
    width: 230px;
}

.photo-item-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

@media(max-width: 481px ) {
    .photo-item {
        width: 150px;
    }
}