
/* Introduction CSS */

#skills-wrapper {
    /* height: 80rem; */
    /* height: 100%; */
    margin-top: 7rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#skills-desc {
    font-weight: 800;
    /* font-size: var(--fs-xl-name);  */
    font-size: 3rem;
}

#skills-button {
    display: inline-block;
    font-family: 'Sudo Var';
    /* font-size: var(--fs-400-button); */
    font-size: 2rem;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: .8rem;
    letter-spacing: .5rem; 
    width: 26rem;
    margin-top: 3rem;
    padding: 1rem;
}

#skills-button:hover {
    background-color: lightblue;
    transition: 0.5s;
}

.custom-br-name {
    display: block;
    margin-bottom: -.5em;
}

.custom-br-position {
    display: block;
    margin-bottom: -.4em;
}

#skills-image {
    height: 35rem;
    width: 20rem;
}

/* Media Queries */

@media(max-width: 1200px) {
    #skills-desc {
        font-size: 2.6rem;
    }
}

@media(max-width: 700px) {
    #skills-desc {
        font-size: 2.3rem;
    }
}

@media(max-width: 600px) {
    #skills-desc {
        font-size: 2.1rem;
    }
}