
/* About Me Styling */

#about-header {
    font-size: 3rem;
    font-weight: 800;
    opacity: 0.9;
}

#about-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.7rem;
    color: #000000;
    opacity: 0.6;
    line-height: 3rem;
}

.about-text-container {
    width: 80%; 
}

#about-resume-icon {
    margin-top: -2rem;
    height: 9rem;
    width: 9rem;
}

#about-resume-text {
    font-size: 1.3rem;
}
