
/* Introduction CSS */

#intro-container {
    height: 70vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#intro-name {
    font-weight: 800;
    font-size: var(--fs-xl-name); 
}

#intro-position {
    font-family: 'Spectral', serif;
    font-weight: 200;
    font-size: var(--fs-600-typography); 
}

#intro-button {
    display: inline-block;
    font-family: 'Sudo Var';
    font-size: var(--fs-400-button);
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    letter-spacing: 3px; 
    width: 26vw;
    padding-top: 3%;
    padding-bottom: 3%;
}

#intro-button:hover {
    background-color: lightblue;
    transition: 0.5s;
}

.custom-br-name {
    display: block;
    margin-bottom: -.5em;
}

.custom-br-position {
    display: block;
    margin-bottom: -.4em;
}

#intro-image {
    height: auto;
    width: 100%;
    margin-right: 50%;
}

/* Media Queries */

@media(max-width: 768px) {
}