
/* Introduction CSS */

#intro-container {
    height: 40rem;
    /* height: 100%; */
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#intro-name {
    font-weight: 800;
    /* font-size: var(--fs-xl-name);  */
    font-size: 5rem;
    white-space: nowrap;
}

#intro-position {
    font-family: 'Spectral', serif;
    font-weight: 200;
    /* font-size: var(--fs-600-typography);  */
    font-size: 4.2rem;
}

#intro-button {
    display: inline-block;
    font-family: 'Sudo Var';
    font-size: 2rem;
    color:black;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: .8rem;
    letter-spacing: .5rem; 
    width: 26rem;
    padding: 1rem;
}

#intro-button:hover {
    color: white;
    background-color: var(--main-blue);
    transition: 0.5s;
}

.custom-br-name {
    display: block;
    margin-bottom: -.5em;
}

.custom-br-position {
    display: block;
    margin-bottom: -.4em;
}

.intro-image {
    height: 35rem;
    /* width: 20rem; */
    max-width: 100%
}
