
/* Styles.css signifies general purpose stylizations */

:root {

    /* Homepage */
    --fs-xl-name: 5vw;
    --fs-600-typography: 4.2vw;
    --fs-400-button: 1.5vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}